#features {
     & .cards {
          grid-template-columns: 17.5rem 1fr 1fr 17.5rem;
          grid-template-rows: repeat(2, 25rem);
          gap: 2rem;
     }

     & .card {
          overflow: hidden;
          position: relative;
          & img.desktop-only {
               position: absolute;
               max-width: 15rem;
               filter: drop-shadow(1rem 1rem 4rem rgb(0 0 0/0.34));
          }
     }

     & .card:nth-child(1) {
          grid-column: 1/2;
     }

     & .card:nth-child(2) {
          grid-column: 2/4;

          & > div {
               max-width: 16rem;
          }

          & .desktop-only {
               bottom: 2rem;
               right: 2rem;
          }
     }

     & .card:nth-child(3) {
          grid-column: 4/5;
     }

     & .card:nth-child(4) {
          grid-column: 1/3;
          grid-row: 2/3;

          & > div {
               max-width: 16rem;
               margin-left: auto;
          }

          & .desktop-only {
               bottom: 2rem;
               left: 2rem;
          }
     }
     & .card:nth-child(5) {
          grid-column: 3/5;

          & > div {
               max-width: 16rem;
          }

          & .desktop-only {
               top: 2rem;
               right: 2rem;
          }
     }
}