*,
*::after,
*::before {
      box-sizing: border-box;
}

*{
       font: inherit;
      -webkit-font-moothing:antialiased ;
      -moz-osx-font-smoothing: grayscale;
}

:root {
      --bg-color:#09090B;
      --surface-color:#18181B ;
      --stroke-color:#27272A;
      --text-color-secondary:#A1A1AA;
      --text-color-primary:#F4F4F5;
      --brand-color-primary:#F7B733;
      --brand-color-secondary:#FC4A1A;

      --ff-sans : "inter", system-ui, sans-serif;
      --fw-base: 400;
      --fw-md:500;
      --fw-bold:800;

      --fs-sm: 0.875rem;
      --fs-base:1rem;
      --fs-lg:1.25rem;
      --fs-xl:1.5rem;
      --fs-2xl:2.5rem;

}

html {
      font-family: var(--ff-sans);
      font-weight: var(--fw-base);
      font-size: var(--fs-base);
      line-height: 1.6;
      color: var(--text-color-primary);
      
}

body {
      margin: 0;
      padding: 0;
      background-color: var(--bg-color);
}

h1, h2, h3 {
      line-height: 1.2;
      color: var(--text-color-primary);
      font-weight: var(--fw-base);
      letter-spacing: -0.04em;
}

h1 {
      font-size: var(--fs-2xl);
}

h2 {
      font-size: var(--fs-xl);
}

h3 {
      font-size: var(--fs-lg);
}


a {
      text-decoration: none;
      color: inherit;
}

ul[role="list"] {
      list-style: none;
}

@media (width >= 80em ) {
      :root {
            --fs-lg:2rem;
            --fs-xl:3rem;
            --fs-2xl:4rem;
      }
}